{% extends 'base.html.twig' %}

{% block title %}Série{% endblock %}

{% block body %}
    {# templates/category/show.html.twig #}

    <h2>Catégorie: {{ categories.name }}</h2>

    {% if programs is empty %}
        <p>Aucune série trouvée.</p>
    {% else %}
        <ul>
            {% for program in programs %}
                <li>
                    <h3>{{ program.id }} - {{ program.title }}</h3>
                    <p>{{ program.synopsis }}</p>
                    <p><a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a></p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}